.sorting-select-container.primary-variant {
    width: 199px;
    height: 32px;
    border-radius: 100px;
    position: relative;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.select-input.primary-variant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #DDDDDD;
    border-radius: inherit;
    color: #000048;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.sorting-select-container.secondary-variant {
    width: 100%;
    height: 100%;
}

.select-input.secondary-variant {
    width: 100%;
    height: 100%;
    color: #000048;
}

.select-input.primary-variant .MuiPaper-root .MuiMenuItem-root {
    color: #000048;
    width: 283px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.select-input.primary-variant .MuiPaper-root {
    margin-left: -39px; /* moves dropdown menu to the left */
}

.chevron-button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 4px; /*moving a bit the left*/
    top: center; /*moving a bit down*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-icon {
    opacity: 1;
}