.Box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: calc((100% - 100px) * 0.3);
  height: 100vh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  row-gap: 1rem;
}

.Header {
  padding: 1.5rem;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.Info {
  color: #666666;
  font-size: smaller;
}
.Info:link {
  font-size: inherit;
  text-decoration: none;
}
.Info:hover{
    color: #000048;
}

.TitleBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.2rem;
  color: #000048;
}

.ActionBar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
}

.List {
  flex-grow: 1;
  max-height: calc(100vh - 440px);
}

.TextField {
  justify-self: flex-end;
  border-top: 1px solid #dddddd;
  padding-top: 1rem;
}
