.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.question-item {
  border: 1px solid;
  border-color: rgba(221, 221, 221, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  padding: 16px 24px 16px 24px;
  height: 80px;
  width: 95%;
}

.question-info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.question-reaction-container {
  display: flex;
  flex: 0 0 72px;
  flex-direction: row;
  gap: 8px;
  height: 32px;
  width: 72px;
}

.question-reaction {
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
}
