.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.question-item {
  border: 0.5pt solid;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: 95%;
}
