.Box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: calc((100% - 100px) * 0.3);
  height: 100vh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box;
  padding: 0 1rem;
  row-gap: 1rem;
  overflow-y: auto;
}

.CloseButton {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0;
  z-index: 1001;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-left: auto;
}

.TitleBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.2rem;
  color: #000048;
}
