.CloseButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}

.FormTitle {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #000048;
}

.TextTitle {
    color: #666666;
    font-size: 1rem;
}

.TextTitle:after {
    content:" *";
    color: red;
}

.CancleButton {
    color: #000048;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 30px;
    border: 1px solid #DDDDDD;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    text-transform: none;
}

.SubmitButton {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 30px;
    background-color: #000048;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: none;
    margin-right: 1rem;
}

.SubmitButton:hover {
    background-color: transparent;
    color: #000048;
}

.BlankLine {
    margin-top: 1rem;
    border: 1px solid #DDDDDD;
}

.CreateButton {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 30px;
    background-color: #000048;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: none;
    margin-right: 1rem;
}