body {
  margin: 0 !important;
}

.FooterContainer {
  margin-top: auto;
}

.FooterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-top: 1px solid #dddddd;
}

.Copyright {
  padding-left: 120px;
}

.PrivacyPolicy {
  margin-left: auto;
  padding-right: 50px;
}

.Copyright,
.PrivacyPolicy a {
  font-size: 0.9rem;
  color: #777777;
  text-decoration: none;
}
