body {
  margin: 0 !important;
}

.FooterBox {
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: white;
}

.Copyright {
  padding-left: 120px;
}

.PrivacyPolicy {
  margin-left: auto;
  padding-right: 50px;
}

.Copyright,
.PrivacyPolicy a {
  font-size: 0.9rem;
  color: #777777;
  text-decoration: none;
}
