.CommentCard {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.Comment {
  background-color: #f1f2f5;
  word-wrap: break-word;
  border-radius: 16px;
  font-size: 1.2rem;
  padding: 1rem;
}

.Info {
  color: #666666;
  font-size: smaller;
}

.InfoDate {
  margin: 0rem 0.4rem;
}

.InfoItem {
  margin: 0rem 0.4rem;
  text-decoration: underline;
  cursor: pointer;
}
